.blockchain-container {
  background-size: cover;
  margin: 0 auto;
  padding: 10px;
  border: 0.5px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.blockchain-container input{
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 8px;
}

.blocks {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 900px;
}

.hash-text{
  word-break: break-all;
}
.block-card {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 10px;
}

.invalid {
  color: red;
}