
  
  .card-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  
  .card {
    flex: 0 0 auto;
    text-size-adjust: 100%;
    margin-right: 20px;
    scroll-snap-align: start;
    overflow: auto; /* Add scrollbars when content overflows */
  }
  
  
  .slider-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
  }
  
  .control-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    margin: 0 5px;
  }
  
  .control-button:hover {
    background-color: #0056b3;
  }
  