/* Dashboard.css */
.dashboard{
  display: flex;
  flex-direction: row;
}

.main-content {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 20px;
    
}

.main-content > * {
  margin-bottom: 20px;

}
  
  
.content-container {
  height: 100vh;
  margin-left: 20px;
}
