.sidebar {
  display: relative;
  background-color: #ede4e4;
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 12px;
}

.sidebar h2 {
  margin-bottom: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 5px;
}

.sidebar li a {
  color: white;
  text-decoration: none;
}

.sidebar li a:hover {
  text-decoration: underline;
}
