.transaction-list {
  overflow-y: auto;
  width: 1200px;
}

.card-container {
  display: grid;
  gap: 20px;
  width: 1200px;
}

.card-items{
  display: flex;
  flex-direction: row;
}

.card {
  width: 300px;
  padding: 5px;
}

.card-left-square {
  background-color: #ffffff;
  padding: 10px;
  padding-top: 0;
  border-radius: 8px;
  font-size: 15px;
}

.card-right-square >*{
  padding-left: 20px;
}